@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("dn.se") {
  .paywall {
    display: none;
  }
  
  .paywall-mask, #paywall-container {
    display: none;
  }
  
  .paywall-content {
    overflow: unset !important;
    height: unset !important;
  }
  
  .article__lead {
    overflow: unset !important;
    position: unset !important;
    max-height: unset !important;
  }
  
  .article__premium-content {
    display: unset !important;
  }
  
  .articlevideo.hidden {
    display: unset !important;
  }
  
  .articlevideo.hidden div.clip-deleted-message.hidden {
    display: none;
  }
}
